.head-icon {
    font-size: inherit;
    color: inherit;
}

.lang {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.logo {
    font-size: larger;
}

.logo-word1 {
    font-weight: bold;
    color: #ee3733;
    
}
