.head-icon {
    font-size: inherit;
    color: inherit;
}

.lang {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.logo-part1 {
    font-weight: bold;
    color: #ee3733;
}

.lang {
    margin: 0 3px;
}

.lang.active {
    color: #ee3733;
}

.login-block {
    margin: 0 70px 0 0;
}

.login {
    background: none;
    border: none;
    margin: 0 3px;
}

.login:hover {
    color: #ee3733;
}

.login, .lang  {
    float:right;
    font-size: 12px;
    line-height: 32px;
    top: -1px; 
}

.navbar-default .navbar-nav > li.active > a:after {
    opacity: 1;
    color: #ee3733;
}

.navbar-default .navbar-nav > li.active > a {
    color: #ee3733;
    border-bottom: 2px solid;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #faf7f9;
    border-bottom-color: #ee3733;
    color: #ee3733;
}

.slicknav_nav .active {
    background-color: #faf7f9;
}

.form-control {
    border: 1px solid #dee3f7;
    border-radius: 0;
}

.small-doc {
    width: 230px;
}

.full-screen-box {
    background: rgba(0,0,0,0.8);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

.full-picture-box {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    text-align: center;
    z-index: 9999999;
    display: block;
    cursor: zoom-out;
}

.full-picture-box img {
    padding-bottom: 60px;
}

.lightbox-own {
    cursor: zoom-in;
}

.fa-angle-right:before {
    content: "\203A";
}

.fa-angle-left:before {
    content: "\2039";
}

.left {
    text-align: left;
}

.portfolio-href:hover {
    cursor: zoom-in;
}

.pagination > .active > a {
    border-color: #ee3733;
    background-color: #ee3733;
}

.pagination > .active > a:hover {
    background-color: #ee3733;
    border-color: #ee3733;
}

.pagination > li > a {
    color: #666666;
    border: 1px solid #eee;
}

.pagination > li > a:hover {
    color: #ee3733;
    background-color: #fff;
}

.red-stripe-button {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 10px 14px;
    margin-top: 8px;
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: #eee;
    /*    background-image: -moz-linear-gradient(top,#eee,#eee);
        background-image: -ms-linear-gradient(top,#eee,#eee);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#eee));
        background-image: -webkit-linear-gradient(top,#eee,#eee);
        background-image: -o-linear-gradient(top,#eee,#eee);
        background-image: linear-gradient(top,#eee,#eee);
        background-repeat: repeat-x;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee',endColorstr='#eeeeee',GradientType=0);
    /*    -webkit-background-clip: padding;
        -moz-background-clip: padding;
        background-clip: padding;*/
    zoom: 1;
    z-index: 1;
    display: inline;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    min-width: 42px;
    text-shadow: #fff 0 1px 0;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: inherit;
    border-left: 3px solid #d84a38;
    color: black;
}

a.red-stripe-button:hover {
    background-color: #d9d9d9;
    color: black;
}


a.red-stripe-button:active {
    background-color: #ebe9e9;
} 

.post-preview-title:hover {
    color: #ee3733;
}






.portfolio-background {
    background-color: #f9fbfc;
}

.portfolio-background .portfolio-details a span {
    color: #000;
}
